In [1]:
import numpy as np
import pandas as pd
from qiskit.quantum_info import SparsePauliOp
import pennylane as qml

from susy_qm import calculate_wz_hamiltonian, calculate_Hamiltonian

In [2]:
data = {'cut_off':[],
       'QHO': [],
       'AHO': [],
       'DW': []
       }

num_cut_offs = 10
cut_off_list = [2**i for i in range(1, num_cut_offs + 1)]
potential_list = ['QHO', 'AHO', 'DW']

for cut_off in cut_off_list:
    data['cut_off'].append(cut_off)

    for potential in potential_list:

        H = calculate_Hamiltonian(cut_off, potential)
        H_pauli = SparsePauliOp.from_operator(H)

        data[potential].append(H_pauli.size)

pauli_df = pd.DataFrame(data).set_index('cut_off')
pauli_df

          QHO    AHO     DW
cut_off
2           2      2      4
4           4     10     14
8           8     34     48
16         16    102    136
32         32    270    352
64         64    670    854
128       128   1548   1990
256       256   3496   4450
512       512   7486   9874
1024     1024  15534  21202

In [6]:
data = {'cutoff':[],
       'QHO': [],
       'AHO': [],
       'DW': []
       }

num_cut_offs = 10
cut_off_list = [2**i for i in range(1, num_cut_offs + 1)]
potential_list = ['QHO', 'AHO', 'DW']

for cutoff in cut_off_list:
    data['cutoff'].append(cutoff)

    for potential in potential_list:

        H = calculate_Hamiltonian(cutoff, potential)
        if potential in ["QHO","AHO"] or ((potential == "DW") and (cutoff == 4)):
            H = H[cutoff:, cutoff:]
        else:
            H = H[:cutoff, :cutoff]
            
        H_pauli = SparsePauliOp.from_operator(H)

        data[potential].append(H_pauli.size)

pauli_df = pd.DataFrame(data).set_index('cutoff')
pauli_df

         QHO    AHO     DW
cutoff
2          0      1      2
4          3      5      9
8          7     19     35
16        15     63    103
32        31    175    271
64        63    447    661
128      127   1079   1541
256      255   2499   3425
512      511   5459   7569
1024    1023  11551  16081

In [9]:
# Parameters
N = 3
a = 1.0
c = 0
boundary_condition = 'periodic'

In [11]:
data = {'cut_off':[],
       'linear': [],
       'quadratic': []
       }

num_cut_offs = 4
cut_off_list = [2**i for i in range(1, num_cut_offs + 1)]
potential_list = ['linear', 'quadratic']

for cut_off in cut_off_list:
    data['cut_off'].append(cut_off)

    for potential in potential_list:

        H = calculate_wz_hamiltonian(cut_off, N, a, potential, boundary_condition, c)
        H_pauli = SparsePauliOp.from_operator(H)

        data[potential].append(H_pauli.size)

In [8]:
data

{'cut_off': [2, 4, 8, 16, 32],
 'linear': [3, 7, 15, 31, 63],
 'quadratic': [3, 17, 61, 173, 445]}

In [12]:
data

{'cut_off': [2, 4, 8, 16],
 'linear': [13, 70, 484, 3196],
 'quadratic': [13, 175, 1537, 10585]}