In [7]:
import numpy as np
import pandas as pd
from tabulate import tabulate
from susy_qm import calculate_Hamiltonian

In [11]:
cutoffs = [2,4,8,16]
potentials = ['QHO', 'AHO', 'DW']

all_data = []
for potential in potentials:
    for cutoff in cutoffs:

        H = calculate_Hamiltonian(cutoff, potential)
        eigenvalues = np.sort(np.linalg.eig(H)[0])[:3]

        e01 = abs(eigenvalues[1] - eigenvalues[0])
        e12 = abs(eigenvalues[2] - eigenvalues[1])

        row = {'potential': potential,
               'cutoff': cutoff,
               'e01': e01,
               'e12': e12}
        
        all_data.append(row)

In [13]:
df = pd.DataFrame(all_data)
df

   potential  cutoff       e01           e12
0        QHO       2  0.000000  1.000000e+00
1        QHO       4  1.000000  0.000000e+00
2        QHO       8  1.000000  2.220446e-16
3        QHO      16  1.000000  2.220446e-16
4        AHO       2  0.000000  2.500000e+00
5        AHO       4  0.838095  9.946325e-01
6        AHO       8  1.648145  1.533701e-01
7        AHO      16  1.678661  8.887053e-03
8         DW       2  0.414214  7.071068e-01
9         DW       4  0.044074  7.450328e-01
10        DW       8  0.003145  1.806147e+00
11        DW      16  0.000042  1.842481e+00

In [14]:
latex_table = tabulate(df.values, headers=df.columns, tablefmt="latex", floatfmt=".3f")
print(latex_table)

\begin{tabular}{lrrr}
\hline
 potential   &   cutoff &   e01 &   e12 \\
\hline
 QHO         &        2 & 0.000 & 1.000 \\
 QHO         &        4 & 1.000 & 0.000 \\
 QHO         &        8 & 1.000 & 0.000 \\
 QHO         &       16 & 1.000 & 0.000 \\
 AHO         &        2 & 0.000 & 2.500 \\
 AHO         &        4 & 0.838 & 0.995 \\
 AHO         &        8 & 1.648 & 0.153 \\
 AHO         &       16 & 1.679 & 0.009 \\
 DW          &        2 & 0.414 & 0.707 \\
 DW          &        4 & 0.044 & 0.745 \\
 DW          &        8 & 0.003 & 1.806 \\
 DW          &       16 & 0.000 & 1.842 \\
\hline
\end{tabular}