In [1]:
import numpy as np
from qiskit.quantum_info import SparsePauliOp
import pennylane as qml
from susy_qm import calculate_wz_hamiltonian
import pandas as pd

In [15]:
results = []

a = 1.0
boundary_condition = 'dirichlet'
c = 0

num_cut_offs = 2
cut_off_list = [2**i for i in range(1, num_cut_offs + 1)]
N_values = [4]
potential = 'linear'
num_layers = 2


for N in N_values:
    for cut_off in cut_off_list:
        
        H = calculate_wz_hamiltonian(cut_off, N, a, potential, boundary_condition, c)
        hamiltonian = SparsePauliOp.from_operator(H)
        num_qubits = hamiltonian.num_qubits
        num_params = np.prod(qml.StronglyEntanglingLayers.shape(n_layers=num_layers, n_wires=num_qubits))
        
        # Append results
        results.append({
            'N': N,
            'Cut-off': cut_off,
            'Num Parameters': num_params,
            'Num Qubits': num_qubits
        })

df_results = pd.DataFrame(results)

In [ ]:
# if 1 layer then num params is half

In [12]:
df_results

   N  Cut-off  Num Parameters  Num Qubits
0  2        2              24           4
1  2        4              36           6
2  2        8              48           8
3  2       16              60          10
4  2       32              72          12

In [14]:
df_results

   N  Cut-off  Num Parameters  Num Qubits
0  3        2              36           6
1  3        4              54           9
2  3        8              72          12
3  3       16              90          15

In [16]:
df_results

   N  Cut-off  Num Parameters  Num Qubits
0  4        2              48           8
1  4        4              72          12