In [1]:
import pandas as pd
import numpy as np
import json
import os

In [2]:
folder_path = r"C:\Users\Johnk\OneDrive\Desktop\PhD 2024\Quantum Computing Code\Quantum-Computing\SUSY\SUSY QM\PennyLane\VQD\Differential Evolution\No noise"
cutoff = 16
folders = [f for f in os.listdir(folder_path) if os.path.isdir(os.path.join(folder_path, f))]

In [3]:
folders

['AHO', 'DW', 'QHO']

In [4]:
all_data = []
potentials = []
e0 = []
e1 = []
e2 = []
ratios = []

for f in folders:
    
    data_path = folder_path + "\\{}\\{}_{}.json".format(f,f, cutoff)
    
    with open(data_path, 'r') as file:
        data = json.load(file)

    success_i = [i for i, success in enumerate(data['success']) if all(success)]
    successful_results = [data['results'][i] for i in success_i]
    energies =np.sort(successful_results)

    for e in energies:
        
        potentials.append(f)
        e0.append(e[0])
        e1.append(e[1])
        e2.append(e[2])

        r = abs((e[2] - e[1]) / (e[2] - e[0]))
        ratios.append(r)

df = {
"potential": potentials,
    "cutoff": cutoff,
    "e0": e0,
    "e1": e1,
    "e2": e2,
    "ratios": ratios
    }

In [5]:
df = pd.DataFrame(df)
df

    potential  cutoff            e0        e1        e2        ratios
0         AHO      16  1.904133e-02  1.798478  2.019041  1.102816e-01
1         AHO      16  1.904133e-02  1.798478  2.019041  1.102816e-01
2         AHO      16  1.904133e-02  1.798478  2.019041  1.102816e-01
3         AHO      16  1.904133e-02  1.865360  2.041704  8.718444e-02
4         AHO      16  1.904133e-02  1.798478  2.041704  1.202501e-01
..        ...     ...           ...       ...       ...           ...
295       QHO      16  1.010846e-16  1.000000  1.000000  5.362377e-14
296       QHO      16  2.466392e-14  1.000000  1.000000  1.321387e-12
297       QHO      16  2.196164e-15  1.000000  1.000000  6.382184e-11
298       QHO      16  1.130057e-16  1.000000  1.000000  2.165135e-11
299       QHO      16  1.124192e-18  1.000000  1.000000  1.486049e-10

[300 rows x 6 columns]

In [6]:
median = []
mean = []
min = []
potentials = []

for f in folders:

    potentials.append(f)
    data = df[df['potential'] == f]
    median.append(np.median(data['ratios']))
    mean.append(np.mean(data['ratios']))
    min.append(np.min(data['ratios']))

aggdf = {
    "potential": potentials,
    "cutoff": cutoff,
    "median": median,
    "mean": mean,
    "min": min,
}

In [7]:
#Noise
pd.DataFrame(aggdf)

  potential  cutoff    median      mean       min
0       AHO      16  0.137821  0.132521  0.055575
1        DW      16  0.987186  0.986664  0.956900
2       QHO      16  0.018733  0.020607  0.001409

In [7]:
#No Noise
pd.DataFrame(aggdf)

  potential  cutoff        median          mean           min
0       AHO      16  1.102816e-01  1.146281e-01  7.684083e-02
1        DW      16  9.966906e-01  9.962413e-01  9.797655e-01
2       QHO      16  1.399658e-12  1.821843e-11  2.442491e-15